<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sealonthebeach" />
    <meta name="twitter:creator" content="@sealonthebeach" />
    <meta property="og:url" content="https://www.sealonthebeach.com/seminal/collection.html" />
    <meta property="og:title" content="Seminal Collection" />
    <meta property="og:description" content="Supporting Creative Minds in Urban Planning (SEMINAL) is an interdisciplinary project that aims to explore the potential and limits of design and creative thinking in strategic urban planning practices." />
    <meta property="og:image" content="https://www.sealonthebeach.com/assets/img/twitter/blog-intro.png" />
    <link href="/css/blogStyle.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/562e490a11.js" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-66MEQK7LW6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-66MEQK7LW6');
    </script>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=630e40900b5e930012a9c394&product=inline-share-buttons' async='async'></script>
    
    <title>SEMINAL - Project Introduction</title>
</head>
<body>
  <div class="navbar">
    <!-- <a href="#news">Next</a> -->
    <a href="/">Home</a>

  </div>
    <div class="grid-container">
        <div class="grid-item grid-item-even">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                class="svg-image-blog twoslide" viewBox="0 0 2180.000000 630.000000"
                preserveAspectRatio="xMidYMid meet">
            
                <g transform="translate(0.000000,630.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M1685 5669 c-97 -14 -234 -57 -309 -97 -85 -46 -202 -153 -256 -235 -80 -122 -116 -310 -90 -466 26 -156 133 -309 271 -388 89 -51 270 -112 434 -147 269 -58 303 -68 343 -93 91 -59 83 -167 -17 -206 -57 -23 -175 -31 -251 -17 -133 23 -217 80 -265 177 -16 32 -30 60 -31 62 -3 4 -587 -100 -593 -106 -8 -6 31 -117 64 -183 123 -245 351 -394 670 -440 103 -14 326 -12 438 5 217 33 382 110 518 245 143 141 197 283 186 489 -8 164 -58 282 -166 390 -108 108 -214 150 -559 226 -255 55 -333 79 -372 111 -25 22 -30 33 -30 73 0 25 7 56 15 67 50 72 251 82 376 19 51 -26 126 -105 135 -142 4 -13 11 -23 16 -23 18 0 513 153 523 162 6 5 -3 34 -24 76 -119 243 -317 387 -597 436 -97 17 -327 20 -429 5z"/>
                <path d="M3040 4600 l0 -1050 795 0 795 0 0 250 0 250 -475 0 -475 0 0 170 0 170 380 0 380 0 0 240 0 240 -380 0 -380 0 0 150 0 150 475 0 475 0 0 240 0 240 -795 0 -795 0 0 -1050z"/>
                <path d="M4880 4600 l0 -1050 245 0 245 0 1 733 1 732 33 -120 c51 -189 284 -1055 324 -1207 l35 -138 208 0 207 0 15 53 c13 45 151 578 315 1212 l46 180 3 -722 2 -723 305 0 305 0 0 1050 0 1050 -427 -2 -428 -3 -140 -537 c-77 -295 -143 -539 -146 -542 -3 -3 -47 148 -98 337 -51 188 -118 433 -149 545 l-56 202 -423 0 -423 0 0 -1050z"/>
                <path d="M7530 4600 l0 -1050 325 0 325 0 0 1050 0 1050 -325 0 -325 0 0 -1050z"/>
                <path d="M8540 4600 l0 -1050 265 0 265 0 0 538 c0 427 -3 557 -15 637 -8 55 -18 109 -21 120 -3 11 30 -50 73 -135 74 -144 150 -272 550 -912 l154 -248 265 0 264 0 0 1050 0 1050 -266 0 -266 0 5 -452 c4 -331 10 -480 21 -553 8 -55 15 -107 16 -114 0 -8 -23 30 -51 85 -52 100 -175 300 -479 777 l-165 257 -307 0 -308 0 0 -1050z"/>
                <path d="M11177 5643 c-2 -5 -18 -53 -35 -108 -28 -93 -286 -926 -508 -1645 -52 -168 -97 -313 -100 -322 -5 -17 12 -18 258 -18 l264 0 33 108 c18 59 46 151 62 205 l30 97 281 -2 281 -3 57 -200 57 -200 333 -3 c264 -2 331 0 327 10 -15 42 -647 2068 -647 2077 0 13 -686 16 -693 4z m366 -921 c42 -153 77 -283 77 -290 0 -9 -42 -12 -164 -12 l-165 0 20 68 c11 37 47 167 81 290 33 122 64 222 68 222 3 0 41 -125 83 -278z"/>
                <path d="M12710 4600 l0 -1050 740 0 740 0 0 260 0 260 -415 0 -415 0 0 790 0 790 -325 0 -325 0 0 -1050z"/>
                <path d="M1777 2765 c-387 -73 -653 -383 -722 -840 -19 -130 -19 -364 0 -485 42 -258 126 -424 298 -587 67 -63 107 -91 188 -132 162 -80 228 -94 449 -95 159 0 196 3 265 22 168 46 343 156 441 280 85 107 156 284 179 445 l6 47 -38 0 c-21 0 -137 7 -258 15 -121 8 -239 15 -262 15 -42 0 -43 -1 -43 -34 0 -46 -32 -145 -63 -199 -68 -115 -241 -150 -359 -72 -109 72 -150 219 -151 535 -1 334 54 513 180 587 38 22 59 27 112 27 81 0 132 -24 188 -88 48 -54 73 -125 80 -228 l6 -78 41 0 c23 0 156 7 296 15 140 8 259 15 263 15 12 0 -1 99 -24 197 -44 181 -113 309 -234 429 -65 66 -98 90 -175 128 -143 70 -224 88 -420 92 -117 2 -188 -1 -243 -11z"/>
                <path d="M3870 2774 c-171 -30 -228 -47 -341 -106 -253 -130 -440 -411 -494 -741 -19 -119 -19 -346 0 -466 63 -383 302 -679 641 -790 129 -42 231 -54 392 -48 302 11 534 123 711 342 107 133 172 274 213 465 26 118 31 411 9 530 -42 233 -141 424 -296 568 -83 78 -138 115 -239 163 -131 61 -225 80 -411 84 -88 2 -171 2 -185 -1z m221 -485 c97 -21 167 -112 206 -266 22 -86 25 -475 5 -593 -37 -212 -109 -306 -249 -325 -66 -9 -145 13 -193 54 -46 37 -83 106 -112 206 -21 74 -23 98 -22 325 0 217 3 254 21 321 44 157 108 245 200 273 60 18 79 19 144 5z"/>
                <path d="M11157 2765 c-396 -75 -663 -395 -727 -872 -18 -130 -8 -410 19 -530 46 -209 119 -344 265 -488 89 -89 114 -107 206 -153 163 -82 229 -95 450 -96 161 0 196 3 265 22 169 47 338 154 438 277 87 107 159 284 182 448 l7 47 -38 0 c-22 0 -138 7 -259 15 -121 8 -239 15 -262 15 -42 0 -43 -1 -43 -32 0 -80 -47 -193 -102 -248 -85 -85 -244 -90 -340 -10 -50 41 -95 138 -115 241 -22 119 -22 433 0 555 42 232 132 340 282 338 90 -1 163 -47 218 -136 23 -37 47 -141 47 -205 l0 -53 43 0 c23 0 155 7 292 15 138 8 256 15 263 15 17 0 9 79 -19 197 -44 181 -113 309 -234 429 -65 66 -98 90 -175 128 -143 70 -224 88 -420 92 -117 2 -188 -1 -243 -11z"/>
                <path d="M15683 2766 c-251 -48 -430 -157 -575 -351 -106 -141 -173 -301 -203 -488 -19 -119 -19 -346 0 -466 63 -384 302 -679 641 -790 131 -42 233 -55 398 -48 154 6 262 31 383 87 218 101 395 300 484 542 95 256 103 604 22 862 -64 205 -199 390 -368 506 -72 49 -203 107 -296 131 -109 27 -378 35 -486 15z m282 -477 c93 -24 165 -118 202 -266 22 -85 25 -475 5 -593 -31 -187 -92 -282 -201 -314 -67 -20 -95 -20 -155 -2 -98 30 -156 103 -198 250 -21 75 -23 99 -22 326 0 220 3 253 22 324 43 156 113 246 209 272 61 16 84 17 138 3z"/>
                <path d="M5280 1700 l0 -1050 740 0 740 0 0 260 0 260 -415 0 -415 0 0 790 0 790 -325 0 -325 0 0 -1050z"/>
                <path d="M6980 1700 l0 -1050 740 0 740 0 0 260 0 260 -415 0 -415 0 0 790 0 790 -325 0 -325 0 0 -1050z"/>
                <path d="M8680 1700 l0 -1050 795 0 795 0 0 250 0 250 -475 0 -475 0 0 170 0 170 380 0 380 0 0 240 0 240 -380 0 -380 0 0 150 0 150 475 0 475 0 0 240 0 240 -795 0 -795 0 0 -1050z"/>
                <path d="M12310 2495 l0 -255 215 0 215 0 0 -795 0 -795 310 0 310 0 0 795 0 795 218 0 217 0 -3 255 -3 255 -739 0 -740 0 0 -255z"/>
                <path d="M13970 1700 l0 -1050 325 0 325 0 0 1050 0 1050 -325 0 -325 0 0 -1050z"/>
                <path d="M17160 1700 l0 -1050 265 0 265 0 0 538 c0 427 -3 557 -15 637 -8 55 -18 109 -21 120 -3 11 28 -45 68 -125 87 -169 95 -183 441 -740 l264 -425 266 -3 267 -2 0 1050 0 1050 -266 0 -266 0 5 -452 c4 -331 10 -480 21 -553 8 -55 15 -107 16 -115 0 -8 -23 30 -51 85 -54 104 -133 233 -454 738 l-189 297 -308 0 -308 0 0 -1050z"/>
                </g>
                </svg>
                <!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons socialmedia" style="margin-top: 2vh;"></div><!-- ShareThis END -->
        </div>
        <div class="grid-item grid-item-odd">

        </div>
        <a href="/seminal/introduction" style="text-decoration: none; color: #1d1d1b">
            <div class="grid-item grid-item-even">
                <h1 style="font-weight: bold;"><i class="fa-solid fa-pen-to-square"></i> Introduction</h1>
                <p id="paragraph">This short weblog introduces <span style="font-weight: bold;">Supporting Creative Minds in Urban Planning (SEMINAL) </span> project, its main goals, and ideas. It explains why rethinking creativity in planning is crucial and what SEMINAL is set to achieve in the next two years and how. You can also find some information on the project's host, collaborators and funders.</p>

            </div>
        </a>
        <div class="grid-item grid-item-odd">
        </div>
        <div class="grid-item grid-item-even">
        </div>
        <a href="" style="text-decoration: none; color: #1d1d1b">
          <div class="grid-item grid-item-odd">
            <h1 style="font-weight: bold;"><i class="fa-solid fa-video"></i> EP.01 Creative Urban Planning or Creative Urban Solutions?</h1>
            <p id="paragraph"><span style="font-weight: bold;">Coming soon ... </span> In the first episode of Seal on the Beach podcast we explore the current dominant narrative around creativity in planning and outline in detail why we think it's time to change that. We discuss what gaps in understanding of creativity in planning SEMINAL project aims to address and what future episodes will be about.</p>
          </div>
        </a>
        <div class="grid-item grid-item-even">
        </div>
        <div class="grid-item grid-item-even">
        </div>
        <div class="grid-item grid-item-even">
        </div>
    </div>
</body>
</html>