<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/562e490a11.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-66MEQK7LW6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-66MEQK7LW6');
    </script>
    <title>Seal On the Beach</title>
</head>
<body>
    <div class="outer-wrapper">
        <div class="wrapper">

<!--------------------------SLIDE ONE ----------------------------------------------------------------------------->
          <div class="slide one">
            <div class="one-container">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                class="svg-image" viewBox="0 0 794 138"
                preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,138.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                  <path d="M362 1114 c-122 -32 -192 -119 -192 -239 0 -85 38 -148 115 -188 22 -11 92 -35 155 -53 101 -29 140 -50 140 -74 0 -23 -32 -43 -76 -47 -63 -6 -119 16 -142 57 -12 22 -23 29 -37 26 -11 -2 -54 -10 -96 -16 -105 -17 -106 -18 -80 -74 28 -58 98 -120 159 -141 103 -36 276 -29 363 15 97 50 142 118 142 217 0 71 -29 132 -82 171 -39 28 -61 37 -196 73 -60 17 -115 35 -122 41 -20 16 -15 45 9 62 46 32 126 13 164 -38 l19 -26 85 26 c47 15 89 30 94 34 13 13 -38 93 -80 125 -78 60 -225 81 -342 49z"/>
                  <path d="M2983 1115 c-82 -35 -94 -161 -19 -210 62 -41 161 -23 191 36 60 114 -51 227 -172 174z m85 -108 c3 -61 -13 -82 -43 -57 -31 26 -11 125 23 118 13 -2 18 -16 20 -61z"/>
                  <path d="M3310 1110 c-16 -16 -20 -17 -20 -5 0 11 -11 15 -40 15 l-40 0 0 -120 0 -120 45 0 44 0 3 92 c3 79 6 93 21 96 15 3 17 -6 17 -92 l0 -96 51 0 51 0 -4 106 c-3 97 -5 107 -27 125 -30 25 -76 24 -101 -1z"/>
                  <path d="M6705 1117 c-135 -45 -211 -144 -237 -310 -13 -89 -1 -200 31 -273 28 -62 103 -138 164 -165 43 -20 69 -24 147 -24 84 0 102 3 152 28 71 35 129 100 151 168 26 79 24 89 -20 89 -21 0 -68 3 -105 6 l-66 7 -12 -43 c-22 -83 -94 -116 -153 -69 -35 27 -49 83 -49 200 1 116 15 172 55 205 37 31 69 30 108 -4 24 -22 32 -38 36 -76 l6 -49 75 7 c41 3 91 6 110 6 l35 0 -7 46 c-14 104 -80 196 -169 234 -64 28 -192 37 -252 17z"/>
                  <path d="M910 735 l0 -385 285 0 285 0 0 85 0 85 -170 0 -170 0 0 70 0 70 140 0 140 0 0 85 0 85 -140 0 -140 0 0 60 0 60 170 0 170 0 0 85 0 85 -285 0 -285 0 0 -385z"/>
                  <path d="M1741 1088 c-79 -252 -221 -719 -221 -727 0 -7 33 -11 93 -11 l92 0 23 75 22 75 104 0 103 0 22 -75 22 -75 119 0 c91 0 118 3 115 13 -2 6 -50 158 -105 337 -56 179 -108 346 -116 373 l-16 47 -123 0 -123 0 -11 -32z m169 -405 c0 -9 -18 -13 -59 -13 l-60 0 19 68 c10 37 24 87 30 112 l13 45 28 -100 c16 -55 29 -106 29 -112z"/>
                  <path d="M2320 735 l0 -385 265 0 265 0 0 95 0 95 -150 0 -150 0 0 290 0 290 -115 0 -115 0 0 -385z"/>
                  <path d="M3385 733 c-115 -213 -232 -427 -258 -475 l-48 -88 58 0 58 1 210 386 c116 213 232 427 258 475 l48 88 -58 0 -58 0 -210 -387z"/>
                  <path d="M4380 736 l0 -386 215 0 c119 0 237 5 267 11 172 36 215 295 62 369 l-45 22 28 15 c44 23 61 42 79 89 32 84 -9 194 -89 237 -40 21 -56 22 -279 25 l-238 3 0 -385z m380 194 c25 -25 25 -41 -1 -74 -19 -24 -26 -26 -95 -26 l-74 0 0 60 0 60 75 0 c62 0 79 -4 95 -20z m5 -295 c33 -32 32 -68 -1 -94 -22 -17 -41 -21 -100 -21 l-74 0 0 70 0 70 75 0 c67 0 79 -3 100 -25z"/>
                  <path d="M5120 735 l0 -385 285 0 285 0 0 85 0 85 -170 0 -170 0 0 70 0 70 140 0 140 0 0 85 0 85 -140 0 -140 0 0 60 0 60 170 0 170 0 0 85 0 85 -285 0 -285 0 0 -385z"/>
                  <path d="M5951 1088 c-79 -252 -221 -719 -221 -727 0 -7 33 -11 93 -11 l92 0 23 75 22 75 104 0 103 0 22 -75 22 -75 119 0 c91 0 118 3 115 13 -2 6 -50 158 -105 337 -56 179 -108 346 -116 373 l-16 47 -123 0 -123 0 -11 -32z m169 -405 c0 -9 -18 -13 -59 -13 l-60 0 19 68 c10 37 24 87 30 112 l13 45 28 -100 c16 -55 29 -106 29 -112z"/>
                  <path d="M7230 735 l0 -385 115 0 115 0 0 150 0 150 90 0 90 0 0 -150 0 -150 120 0 120 0 0 385 0 385 -120 0 -120 0 0 -140 0 -140 -90 0 -90 0 0 140 0 140 -115 0 -115 0 0 -385z"/>
                  <path d="M3550 626 c0 -35 -10 -56 -26 -56 -9 0 -14 -11 -14 -30 0 -19 5 -30 14 -30 10 0 15 -19 18 -71 3 -60 8 -74 27 -90 23 -19 65 -25 95 -13 25 10 20 52 -6 56 -20 3 -23 10 -26 61 -3 55 -2 57 23 57 21 0 25 5 25 30 0 25 -4 30 -25 30 -22 0 -25 4 -25 40 l0 40 -40 0 c-36 0 -40 -3 -40 -24z"/>
                  <path d="M3710 490 l0 -160 50 0 50 0 0 90 c0 72 3 92 15 97 25 9 30 -4 33 -98 l4 -89 44 0 44 0 0 100 c0 94 -2 103 -25 125 -28 29 -61 32 -93 9 -22 -15 -22 -15 -22 35 l0 51 -50 0 -50 0 0 -160z"/>
                  <path d="M4053 566 c-66 -30 -91 -116 -51 -176 47 -70 152 -78 212 -17 l31 31 -44 9 c-36 7 -46 6 -53 -7 -16 -29 -68 -13 -68 21 0 10 21 13 81 13 l82 0 -6 37 c-13 79 -106 124 -184 89z m87 -61 c11 -13 7 -15 -24 -15 -34 0 -44 8 -29 23 11 12 40 8 53 -8z"/>
                </g>
              </svg> 
              <p id="subtitle">MONACHOPSIS: n. the subtle but persistent feeling of being out of place, as maladapted to your surroundings as a seal on a beach —lumbering, clumsy, easily distracted, huddled in the company of other misfits, unable to recognize the ambient roar of your intended habitat, in which you’d be fluidly, brilliantly, effortlessly at home</p>
              <div class="button-grid">
                <div class="button-grid-content">
                  <a class="main-buttons" href="#seminal">SEMINAL </a>
                </div>
                <div class="button-grid-content">
                  <a class="main-buttons" href="#spatiality">SPATIALITY OF STORYWORLDS (coming soon)</a>
                </div>
              </div>
            </div>
            <div>
                <img src="/img/autobacktwo.png" alt="collage" width="80%" style="margin-left: 10%; margin-top: 5%; z-index: -10">
            </div>
            <div style="position: fixed; bottom: 2vh; left: 2.5vw;">
              <a id="youtube" style="margin-right: 0.5vw;" href="https://www.youtube.com/channel/UCU7-gKwptu-k7W-l3WoNJsw"><i class="fa fa-youtube fa-xl" aria-hidden="true"></i></a>
              <a id="twitter" style="margin-right: 0.5vw;" href="https://twitter.com/sealonthebeach"><i class="fa fa-twitter fa-xl" aria-hidden="true"></i></a>
              <!-- <a id="instagram" href="https://www.youtube.com"><i class="fa fa-instagram fa-xl" aria-hidden="true"></i></a> -->

            </div>
          </div>
<!--------------------------SLIDE TWO ----------------------------------------------------------------------------->

          <div class="slide two" id="seminal">
            <div class="two-contain-grid">
              <div class="grid-container">
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" > 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div>
                  </div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000" > 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000" > 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div>
                  </div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" > 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element turnlight"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div>
                  </div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div>
                  </div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div>
                  </div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" style="z-index: 4000"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
            
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <!-- <a id="main-icon" href="seminal/introduction.html" style="z-index: 800000;">
                  <div class="grid-element" style="border-bottom: 0px;"> 
                      <h4 class="grid-title">1. Introduction</h4>
                  </div>
                </a> -->
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element turnlight"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" > 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <p></p>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" > 
                  <div></div>
                </div>
                <div class="grid-element turnlight" > 
                  <div></div>
                </div>
                <div class="grid-element"> 
                  <div></div>
                </div>
                <div class="grid-element turnlight" > 
                  <div></div>
                </div>
                <div class="grid-element turnlight" > 
                  <p></p>
                </div>
              </div>
            </div>
            <div id="two-main" style="z-index: 500; position: absolute; top: 5vh;">
              <div class="item" >
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                class="svg-image-sub" viewBox="0 0 2390.000000 558.000000"
                preserveAspectRatio="xMidYMid meet">
               
               <g transform="translate(0.000000,558.000000) scale(0.100000,-0.100000)"
               fill="#fffefe" stroke="none">
                  <path d="M8790 5045 l0 -245 310 0 310 0 0 245 0 245 -310 0 -310 0 0 -245z"/>
                  <path d="M1408 5235 c-213 -40 -390 -151 -525 -329 -99 -131 -175 -334 -203 -543 -16 -118 -7 -420 15 -518 50 -219 119 -349 265 -496 94 -94 116 -111 210 -157 164 -82 229 -95 450 -96 161 0 196 3 265 22 171 47 342 156 441 280 85 107 156 284 179 445 l7 47 -32 0 c-17 0 -142 7 -276 16 -135 8 -255 14 -267 12 -17 -2 -23 -14 -33 -71 -38 -203 -159 -302 -329 -267 -115 24 -190 122 -222 290 -24 132 -22 456 4 581 38 178 104 274 208 304 96 28 181 1 252 -79 48 -54 73 -125 80 -228 l6 -78 36 0 c71 0 565 30 569 35 10 10 -29 206 -57 289 -43 129 -104 228 -201 327 -71 72 -100 93 -180 132 -143 71 -224 89 -420 93 -116 2 -188 -1 -242 -11z"/>
                  <path d="M7739 5193 l-46 -4 -6 -181 c-4 -100 -7 -214 -7 -255 l0 -73 -115 0 -115 0 0 -200 0 -200 115 0 115 0 0 -387 c0 -423 5 -474 56 -578 33 -68 107 -138 177 -170 97 -44 203 -59 382 -51 88 3 189 12 225 18 l65 13 3 224 2 223 -22 -6 c-13 -3 -55 -11 -94 -17 -93 -14 -147 -1 -174 44 -19 30 -20 52 -20 360 l0 327 155 0 155 0 0 200 0 200 -155 0 -155 0 0 260 0 260 -247 -2 c-137 -1 -269 -3 -294 -5z"/>
                  <path d="M3506 4694 c-27 -9 -65 -26 -86 -39 -56 -35 -128 -123 -152 -187 -13 -31 -25 -53 -28 -47 -4 5 -5 66 -4 134 l3 125 -259 0 -260 0 0 -780 0 -780 294 0 295 0 3 413 c3 399 4 414 26 468 42 106 132 162 262 163 41 0 87 -3 103 -7 l27 -7 0 280 0 280 -87 -1 c-49 0 -110 -7 -137 -15z"/>
                  <path d="M4517 4700 c-214 -38 -388 -141 -509 -301 -117 -155 -168 -308 -168 -511 0 -144 18 -233 70 -343 111 -238 313 -387 596 -441 121 -22 362 -15 484 16 245 61 437 227 517 448 13 36 20 68 16 72 -6 6 -498 41 -553 40 -9 0 -22 -20 -33 -49 -36 -103 -144 -155 -274 -133 -107 18 -152 69 -173 193 -5 35 -10 70 -10 77 0 9 112 12 526 12 l527 0 -6 133 c-6 151 -29 254 -81 364 -95 200 -253 331 -483 399 -75 22 -111 27 -243 30 -85 1 -177 -1 -203 -6z m293 -380 c63 -32 100 -103 100 -192 l0 -38 -215 0 -215 0 0 28 c0 76 51 175 104 204 60 32 160 31 226 -2z"/>
                  <path d="M6325 4699 c-265 -38 -454 -156 -544 -340 -22 -46 -43 -96 -47 -111 -5 -24 -3 -27 28 -32 76 -12 510 -47 524 -42 7 3 14 13 14 23 0 28 57 92 98 110 49 21 196 23 236 3 44 -22 66 -60 73 -122 l5 -55 -98 -7 c-256 -18 -492 -69 -627 -135 -262 -126 -370 -389 -258 -627 85 -182 255 -273 507 -274 188 0 314 48 430 164 l72 71 6 -80 c4 -44 9 -90 13 -102 l5 -23 295 0 c277 0 295 1 288 18 -34 89 -38 139 -45 657 -4 289 -12 536 -17 556 -39 142 -159 252 -334 308 -141 46 -449 65 -624 40z m382 -956 c-11 -176 -52 -238 -174 -263 -133 -28 -226 36 -209 144 13 80 67 132 176 171 36 13 161 40 204 44 5 1 6 -41 3 -96z"/>
                  <path d="M11867 4700 c-214 -38 -388 -141 -509 -301 -117 -155 -168 -308 -168 -511 0 -144 18 -233 70 -343 112 -240 319 -392 603 -441 125 -22 357 -14 477 16 135 33 238 90 339 186 47 45 101 107 120 138 40 67 85 186 74 196 -8 7 -562 45 -567 39 -1 -2 -10 -25 -20 -51 -38 -102 -142 -152 -274 -130 -35 6 -75 18 -88 27 -48 31 -75 94 -89 203 l-7 52 527 0 528 0 -6 133 c-6 155 -30 256 -86 372 -93 191 -255 325 -476 391 -77 22 -112 27 -245 30 -85 1 -177 -1 -203 -6z m293 -380 c63 -32 100 -103 100 -192 l0 -38 -216 0 -217 0 7 53 c14 100 68 178 134 193 15 3 32 8 37 10 22 8 119 -8 155 -26z"/>
                  <path d="M8790 3900 l0 -780 310 0 310 0 0 780 0 780 -310 0 -310 0 0 -780z"/>
                  <path d="M9550 4675 c0 -4 545 -1460 575 -1537 7 -16 27 -18 239 -18 l231 0 47 128 c91 249 506 1377 517 1405 l11 27 -223 0 -222 0 -136 -407 -135 -406 -135 404 -136 404 -316 3 c-175 1 -317 0 -317 -3z"/>
                  <path d="M18850 2545 l0 -245 310 0 310 0 0 245 0 245 -310 0 -310 0 0 -245z"/>
                  <path d="M742 1928 c4 -877 1 -835 70 -978 40 -83 139 -183 231 -235 147 -81 346 -125 572 -125 293 0 506 68 659 211 109 102 161 211 185 392 7 50 11 345 11 803 l0 724 -254 0 -255 0 -4 -722 c-2 -511 -7 -733 -15 -758 -15 -47 -75 -103 -137 -131 -38 -18 -70 -23 -135 -23 -134 -1 -205 35 -247 129 -17 37 -18 92 -21 773 l-3 732 -330 0 -330 0 3 -792z"/>
                  <path d="M4020 1670 l0 -1050 178 0 177 0 27 88 c15 48 32 93 37 101 7 11 23 0 75 -51 116 -115 254 -168 437 -168 245 0 416 87 540 275 134 205 176 574 98 871 -66 252 -210 412 -415 460 -96 22 -258 15 -334 -15 -71 -29 -151 -90 -181 -138 l-24 -38 -3 358 -2 357 -305 0 -305 0 0 -1050z m875 131 c37 -21 71 -70 87 -125 9 -27 13 -117 13 -271 0 -271 -10 -325 -75 -386 -68 -64 -183 -60 -240 9 -43 52 -50 107 -50 378 0 278 6 320 57 370 55 56 139 66 208 25z"/>
                  <path d="M10370 1671 l0 -1051 330 0 330 0 0 380 0 380 233 0 c127 0 263 5 300 10 196 29 367 128 487 282 106 137 140 401 76 591 -74 221 -251 374 -496 429 -90 20 -127 22 -677 25 l-583 4 0 -1050z m1041 536 c76 -38 93 -66 97 -157 4 -100 -19 -142 -100 -184 -55 -27 -65 -29 -223 -34 l-165 -5 0 208 0 208 169 -5 c158 -4 171 -6 222 -31z"/>
                  <path d="M12380 1670 l0 -1050 305 0 305 0 0 1050 0 1050 -305 0 -305 0 0 -1050z"/>
                  <path d="M22925 2536 c-129 -41 -214 -141 -248 -293 -8 -32 -18 -58 -23 -58 -5 0 -49 7 -99 14 -137 21 -382 10 -508 -23 -303 -78 -453 -248 -434 -493 9 -126 68 -221 178 -293 l56 -36 -64 -34 c-148 -76 -217 -175 -217 -310 -1 -89 18 -132 88 -199 l46 -45 -48 -24 c-99 -50 -157 -131 -168 -238 -18 -166 86 -294 288 -357 167 -53 247 -62 573 -62 265 0 314 3 421 22 255 46 390 130 465 288 108 229 9 511 -216 616 -98 46 -177 57 -522 73 -312 14 -355 19 -375 50 -14 21 -8 53 13 72 19 17 44 20 258 25 269 8 338 20 476 88 100 49 168 115 209 201 29 61 31 72 31 185 0 113 -2 124 -31 185 -17 36 -54 90 -82 121 l-51 56 22 21 c31 30 116 44 213 36 l81 -6 6 113 c4 63 7 157 7 210 0 92 -1 97 -22 103 -42 11 -282 5 -323 -8z m-450 -664 c50 -30 70 -76 70 -162 0 -129 -54 -185 -176 -184 -83 0 -126 23 -157 84 -42 80 -18 216 43 256 56 37 161 39 220 6z m-7 -1252 c196 -11 221 -17 246 -52 41 -58 1 -137 -78 -157 -75 -19 -235 -24 -366 -12 -194 18 -248 39 -270 107 -21 64 11 109 90 125 36 7 56 7 378 -11z"/>
                  <path d="M3605 2196 c-132 -42 -202 -115 -271 -285 -8 -18 -10 15 -10 122 l1 147 -257 0 -258 0 0 -780 0 -780 294 0 295 0 3 413 c4 362 6 418 22 458 42 112 134 171 266 173 41 0 87 -3 103 -7 l27 -7 0 280 0 280 -87 -1 c-49 0 -106-6 -128 -13z"/>
                  <path d="M6460 2204 c-311 -47 -483 -150 -579 -345 -22 -46 -43 -96 -47 -111 -5 -24 -3 -27 28 -32 76 -12 510 -47 524 -42 7 3 14 14 14 25 0 28 56 89 99 108 48 21 195 23 235 3 44 -22 66 -60 73 -122 l5 -55 -98 -7 c-283 -20 -515 -73 -659 -149 -292 -155 -358 -508 -139 -738 107 -112 240 -154 454 -146 188 7 295 52 404 168 l63 67 7 -82 c4 -44 9 -91 13 -103 l5 -23 294 0 c162 0 294 2 294 4 0 2 -6 22 -14 44 -28 77 -36 231 -36 647 0 555 -6 592 -125 711 -92 93 -203 140 -395 169 -86 13 -353 19 -420 9z m347 -961 c-8 -130 -28 -187 -79 -223 -84 -61 -235 -61 -280 1 -51 69 -23 177 60 230 62 39 190 78 296 88 5 1 6 -41 3 -96z"/>
                  <path d="M8565 2192 c-113 -34 -204 -99 -267 -192 -16 -24 -17 -22 -17 78 l-1 102 -285 0 -285 0 0 -780 0 -780 310 0 310 0 0 503 c0 332 4 516 11 542 16 60 51 99 99 114 79 24 143 -4 169 -72 7 -19 11 -207 11 -558 l0 -529 311 0 310 0 -3 613 c-4 587 -5 615 -25 680 -26 87 -64 140 -142 199 -87 67 -164 90 -321 94 -98 3 -138 0 -185 -14z"/>
                  <path d="M13857 2199 c-111 -16 -192 -41 -285 -86 -125 -61 -204 -138 -261 -254 -55 -114 -60 -137 -29 -143 54 -11 527 -48 537 -41 6 3 11 15 11 25 0 27 53 84 98 106 26 13 61 18 122 18 130 1 176 -33 187 -136 l5 -55 -98 -7 c-252 -18 -492 -69 -627 -135 -168 -81 -277 -220 -297 -379 -20 -153 29 -283 149 -395 93 -87 217 -127 397 -127 189 0 328 54 438 170 l63 68 7 -82 c4 -44 9 -91 13 -103 l5 -23 294 0 c162 0 294 2 294 4 0 2 -6 22 -14 44 -28 77 -36 231 -36 647 0 555 -6 592 -125 711 -92 94 -201 141 -390 169 -108 16 -360 18 -458 4z m380 -956 c-11 -176 -52 -238 -173 -263 -99 -21 -174 4 -200 65 -42 102 26 203 168 251 40 13 161 39 202 43 5 1 6 -41 3 -96z"/>
                  <path d="M16005 2192 c-113 -34 -204 -99 -267 -192 -16 -24 -17 -22 -17 78 l-1 102 -285 0 -285 0 0 -780 0 -780 310 0 310 0 0 503 c0 332 4 516 11 542 16 60 51 99 99 114 79 24 143 -4 169 -72 7 -19 11 -207 11 -558 l0 -529 311 0 310 0 -3 613 c-4 587 -5 615 -25 680 -26 87 -64 140 -142 199 -87 67 -164 90 -321 94 -98 3 -138 0 -185 -14z"/>
                  <path d="M17881 2199 c-109 -21 -226 -100 -283 -188 l-28 -45 0 107 0 107 -285 0 -285 0 0 -780 0 -780 310 0 309 0 3 523 3 522 23 43 c40 76 139 102 209 57 52 -35 53 -42 53 -615 l0 -530 310 0 310 0 0 564 c0 729 -6 772 -120 886 -96 96 -220 140 -390 139 -52 -1 -115 -5 -139 -10z"/>
                  <path d="M20645 2192 c-113 -34 -204 -99 -267 -192 -16 -24 -17 -22 -17 78 l-1 102 -285 0 -285 0 0 -780 0 -780 310 0 310 0 0 503 c0 332 4 516 11 542 16 60 51 99 99 114 79 24 143 -4 169 -72 7 -19 11 -207 11 -558 l0 -529 311 0 310 0 -3 613 c-4 587 -5 615 -25 680 -26 87 -64 140 -142 199 -87 67 -164 90 -321 94 -98 3 -138 0 -185 -14z"/>
                  <path d="M18850 1400 l0 -780 310 0 310 0 0 780 0 780 -310 0 -310 0 0 -780z"/>
               </g>
               </svg>
               <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
               class="svg-image-sub" viewBox="0 0 2390.000000 558.000000" preserveAspectRatio="xMidYMid meet">

               <g transform="translate(0.000000,558.000000) scale(0.100000,-0.100000)"
               fill="#fffefe" stroke="none">
               <path d="M1193 5235 c-357 -65 -612 -291 -733 -653 -41 -123 -60 -254 -60 -417 0 -298 66 -514 218 -714 180 -236 450 -361 782 -361 323 0 593 127 772 361 146 193 214 396 225 684 23 584 -285 1011 -793 1100 -104 18 -311 18 -411 0z m285 -477 c65 -16 141 -93 171 -173 39 -105 54 -239 48 -445 -6 -198 -15 -270 -48 -375 -51 -165 -219 -239 -369 -162 -122 63 -180 239 -180 548 0 184 12 286 46 388 42 126 101 193 193 217 59 16 82 17 139 2z"/>
               <path d="M3445 4696 c-72 -23 -121 -54 -168 -106 -41 -46 -97 -143 -97 -169 0 -5 -4 -12 -9 -15 -4 -3 -8 57 -7 134 l1 140 -257 0 -258 0 0 -780 0 -780 294 0 295 0 3 413 c3 364 6 417 21 458 43 112 135 171 267 173 41 0 87 -3 103 -7 l27 -7 0 280 0 280 -87 -1 c-49 0 -106 -6 -128 -13z"/>
               <path d="M8520 2545 l0 -245 310 0 310 0 0 245 0 245 -310 0 -310 0 0 -245z"/>
               <path d="M15610 2545 l0 -245 310 0 310 0 0 245 0 245 -310 0 -310 0 0 -245z"/>
               <path d="M17720 2545 l0 -245 310 0 310 0 0 245 0 245 -310 0 -310 0 0 -245z"/>
               <path d="M1120 2731 c-377 -82 -625 -371 -702 -816 -17 -103 -19 -147 -15 -310 6 -208 22 -302 75 -439 45 -114 105 -209 191 -299 119 -125 250 -203 416 -249 69 -18 106 -22 265 -22 161 0 196 3 265 22 171 47 342 156 441 280 85 107 156 284 179 445 l7 47 -38 0 c-22 0 -138 7 -259 15 -121 8 -238 15 -261 15 l-41 0 -6 -52 c-21 -206 -158 -324 -332 -288 -115 24 -191 123 -222 290 -22 120 -22 434 0 557 42 229 130 337 276 337 76 0 126 -21 177 -76 59 -62 94 -165 94 -275 l0 -43 38 0 c70 0 565 30 569 34 3 2 -1 40 -7 83 -46 316 -200 553 -435 669 -139 68 -220 86 -420 90 -139 3 -186 0 -255 -15z"/>
               <path d="M14297 2735 c-396 -75 -663 -395 -727 -872 -18 -130 -8 -421 19 -534 47 -207 121 -341 265 -484 89 -89 114 -107 206 -153 164 -82 229 -96 450 -96 160 0 196 3 265 22 173 48 341 155 441 280 85 107 156 284 179 445 l7 47 -38 0 c-22 0 -138 7 -259 15 -121 8 -239 15 -262 15 -42 0 -43 -1 -43 -34 0 -46 -32 -145 -63 -199 -77 -131 -280 -154 -390 -44 -75 75 -102 159 -118 374 -12 155 -1 356 26 471 35 148 104 239 201 268 180 52 334 -103 334 -336 l0 -50 38 0 c65 0 565 30 570 34 6 7 -18 157 -39 235 -42 156 -138 315 -256 420 -70 63 -208 133 -318 162 -106 28 -373 35 -488 14z"/>
               <path d="M22675 2735 c-253 -48 -426 -177 -536 -400 -46 -94 -107 -290 -95 -303 6 -5 493 -61 542 -62 19 0 22 7 27 68 18 189 86 276 217 276 95 1 157 -56 173 -157 7 -46 -9 -139 -30 -182 -9 -16 -80 -96 -159 -176 -169 -171 -189 -205 -204 -350 -5 -52 -10 -102 -10 -111 0 -17 19 -18 260 -18 l260 0 6 28 c14 58 39 85 182 196 173 134 239 200 281 284 82 163 82 382 -1 549 -92 183 -263 307 -493 354 -107 22 -313 24 -420 4z"/>
               <path d="M7469 2693 l-46 -4 -6 -172 c-4 -95 -7 -209 -7 -254 l0 -83 -115 0 -115 0 0 -200 0 -200 115 0 115 0 0 -387 c0 -420 5 -472 54 -576 15 -30 48 -75 76 -101 104 -98 238 -132 479 -123 86 4 188 12 226 19 l70 13 3 224 2 223 -22 -6 c-70 -19 -166 -27 -204 -17 -81 22 -79 10 -82 392 l-3 339 156 0 155 0 0 200 0 200 -155 0 -155 0 0 260 0 260 -247 -2 c-137 -1 -269 -3 -294 -5z"/>
               <path d="M16669 2693 l-46 -4 -6 -172 c-4 -95 -7 -209 -7 -254 l0 -83 -115 0 -115 0 0 -200 0 -200 115 0 115 0 0 -387 c0 -420 5 -472 54 -576 15 -30 48 -75 76 -101 104 -98 238 -132 479 -123 86 4 188 12 226 19 l70 13 3 224 2 223 -22 -6 c-70 -19 -166 -27 -204 -17 -81 22 -79 10 -82 392 l-3 339 156 0 155 0 0 200 0 200 -155 0 -155 0 0 260 0 260 -247 -2 c-137 -1 -269 -3 -294 -5z"/>
               <path d="M3236 2194 c-64 -20 -112 -51 -162 -106 -37 -40 -94 -142 -94 -167 0 -6 -4 -11 -8 -11 -5 0 -8 60 -8 133 l1 132 -257 3 -258 2 0 -780 0 -780 294 0 295 0 3 413 c4 362 6 418 22 458 42 112 134 171 266 173 41 0 87 -3 103 -7 l27 -7 0 280 0 280 -87 -1 c-49 0 -110 -7 -137 -15z"/>
               <path d="M4247 2200 c-410 -73 -677 -394 -677 -812 0 -149 18 -236 75 -353 89 -185 239 -320 432 -389 128 -45 230 -59 403 -53 183 5 281 27 410 90 69 34 103 59 181 137 81 80 103 108 137 180 23 47 42 98 44 115 l3 29 -245 18 c-356 24 -322 27 -343 -31 -37 -104 -142 -156 -275 -133 -118 20 -157 70 -177 230 l-7 52 527 0 528 0 -6 133 c-10 272 -106 480 -285 623 -69 55 -213 126 -302 149 -75 20 -345 29 -423 15z m293 -380 c63 -32 100 -103 100 -192 l0 -38 -215 0 -215 0 0 28 c0 76 51 175 104 204 60 32 160 31 226 -2z"/>
               <path d="M6055 2199 c-265 -38 -454 -156 -544 -340 -55 -114 -60 -137 -29 -143 51 -10 527 -48 537 -42 5 3 12 20 16 36 8 38 77 97 124 107 20 5 68 8 106 7 116 -1 162 -37 172 -138 l6 -56 -44 0 c-62 0 -289 -27 -384 -46 -208 -41 -345 -100 -447 -194 -194 -177 -204 -459 -23 -649 100 -105 226 -151 415 -151 196 0 336 54 447 174 l60 64 7 -82 c3 -44 9 -91 12 -103 l6 -23 294 0 c162 0 294 2 294 4 0 2 -6 21 -14 43 -28 80 -36 220 -36 641 0 564 -6 599 -126 720 -93 93 -215 144 -419 172 -84 12 -346 11 -430 -1z m382 -956 c-9 -152 -35 -206 -115 -244 -63 -31 -173 -33 -216 -4 -84 56 -68 189 31 254 61 41 188 79 297 90 5 1 6 -41 3 -96z"/>
               <path d="M11575 2195 c-314 -59 -552 -283 -630 -590 -31 -119 -34 -295 -9 -408 55 -248 242 -459 483 -547 131 -48 242 -63 416 -57 267 10 420 66 574 213 47 45 101 107 120 138 40 67 85 186 74 196 -8 7 -562 45 -567 39 -1 -2 -10 -25 -20 -51 -38 -102 -142 -152 -274 -130 -35 6 -75 18 -88 27 -48 31 -75 94 -89 203 l-7 52 527 0 528 0 -6 133 c-6 151 -28 252 -82 365 -106 223 -324 380 -585 422 -88 14 -280 11 -365 -5z m308 -371 c18 -9 42 -26 55 -37 26 -24 52 -103 52 -159 l0 -38 -216 0 -217 0 7 53 c14 100 68 178 134 193 15 3 32 8 37 10 20 8 118 -7 148 -22z"/>
               <path d="M19235 2196 c-205 -41 -368 -140 -487 -297 -117 -155 -168 -308 -168 -511 0 -149 18 -235 75 -353 108 -226 303 -371 575 -427 127 -27 371 -21 500 12 221 55 398 194 490 385 21 44 40 93 42 110 l3 30 -245 17 c-356 24 -322 27 -343 -31 -37 -104 -141 -155 -274 -133 -74 12 -116 39 -143 92 -16 32 -40 136 -40 178 0 9 112 12 526 12 l527 0 -6 133 c-6 161 -29 256 -93 385 -37 76 -61 109 -127 175 -110 110 -213 169 -373 213 -82 22 -345 28 -439 10z m315 -376 c63 -32 100 -103 100 -192 l0 -38 -216 0 -217 0 7 53 c14 100 68 178 134 193 15 3 32 8 37 10 22 8 119 -8 155 -26z"/>
               <path d="M21005 2204 c-233 -36 -433 -160 -510 -318 -66 -134 -66 -287 -1 -421 87 -176 229 -242 658 -304 228 -33 263 -46 263 -102 0 -30 -5 -36 -43 -56 -54 -27 -181 -38 -281 -25 -117 17 -210 74 -233 144 -3 7 -82 0 -243 -22 -132 -18 -241 -34 -243 -35 -8 -7 50 -129 86 -183 87 -126 229 -219 407 -264 80 -20 114 -23 305 -22 200 0 222 2 315 27 183 49 332 143 404 255 113 176 102 412 -26 570 -110 135 -246 183 -645 227 -162 18 -202 27 -229 51 -70 63 62 136 216 120 93 -10 149 -33 194 -77 l40 -41 218 42 c120 22 224 43 231 45 24 9 -46 126 -122 201 -133 133 -284 184 -561 189 -93 2 -183 1 -200 -1z"/>
               <path d="M8520 1400 l0 -780 310 0 310 0 0 780 0 780 -310 0 -310 0 0 -780z"/>
               <path d="M9280 2176 c0 -5 546 -1464 571 -1528 l11 -28 232 0 231 0 274 748 c151 411 281 762 288 780 l13 32 -222 0 -223 0 -136 -407 -135 -406 -135 404 -136 404 -317 3 c-174 1 -316 0 -316 -2z"/>
               <path d="M15610 1400 l0 -780 310 0 310 0 0 780 0 780 -310 0 -310 0 0 -780z"/>
               <path d="M17720 1400 l0 -780 310 0 310 0 0 780 0 780 -310 0 -310 0 0 -780z"/>
               <path d="M22580 905 l0 -285 300 0 300 0 0 285 0 285 -300 0 -300 0 0 -285z"/>
               </g>
               </svg>
              </div>
               <div class="item">
                </div>
                <div class="item">
                  <p id="two-text" style="background-color: #1d1d1b;">Smart technologies to better understand cities, innovative tools to support urban planners, new plans to rethink our neighbourhoods, or new philosophy of cities; there seems to be a growing interest among communities and urban planners to think ‘differently’ about our cities and their processes, to do things ‘creatively’ and ‘innovatively’. But do we really know what creative, different or innovative mean in urban planning?<span style="text-decoration: underline; margin-left:1em;"><a href="/seminal/introduction" style="color: #fffefe;">Click to know more about the project, its goals and content.</a></span></p>
                </div>
                <div class="item">
                </div>
                <div class="item">
                  <!-- <p id="two-text" style="background-color: #1d1d1b;">But do we know what creativity, thinking differently or being innovative really means in urban planning?</p> -->
                  <p id="two-text" style="background-color: #1d1d1b;">Supporting Creative Minds in Urban Planning (SEMINAL) is an EU-funded project exploring the notions of creativity in urban planning. In an attempt to create a new supporting tool for creative thinking in planning, SEMINAL will explore what we know and do not know about creativity in planning. The project is hosted at ITC, University of Twente and is delivered in collaboration with the Crowd Cognition research group at Ludwig Maximilian University in Munich.<span style="text-decoration: underline; margin-left:1em;"><a href="/seminal/collection" style="color: #fffefe;">Click to see project's weblogs and podcast episodes!</a></span></p>
                </div>
              <div class="item">
                <div class="grid-item grid-item-odd">      
                  <table>
                      <tr>
                        <td>Funded by</td>
                        <td>Marie Skłodowska-Curie Actions-Postdoctoral Fellowship </td>
                      </tr>
                      <tr>
                        <td>Host</td>
                        <td>ITC Faculty - University of Twente - <span><a style="color: #fffefe"href="https://research.utwente.nl/en/persons/johannes-flacke">Dr. Johannes Flacke</a></span></td>
                      </tr>
                      <tr>
                        <td>Collaborators</td>
                        <td>Crowd Cognition Group - Ludwig Maximilian University of Munich - <span><a style="color: #fffefe"href="https://crowdcognition.net/">Dr. Bahador Bahrami</a></span></td>
                      </tr>
                      <tr>
                        <td>Project Duration</td>
                        <td>2 Years (Jan 2023-2025)</td>
                      </tr>
                    </table>
      
              </div>              </div>
              <div class="item">


              </div>
              <div class="item">
                <!-- <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                class="svg-image" viewBox="0 0 1348.000000 262.000000"
                  preserveAspectRatio="xMidYMid meet">
                  <g transform="translate(0.000000,262.000000) scale(0.100000,-0.100000)"
                  fill="#fffefe" stroke="none">
                    <path d="M935 2339 c-96 -14 -233 -57 -309 -97 -91 -47 -215 -165 -266 -252 -62 -104 -85 -194 -85 -330 0 -131 12 -184 63 -284 106 -204 277 -294 744 -391 246 -51 308 -87 308 -178 0 -69 -59 -109 -181 -122 -196 -21 -383 71 -429 210 -6 19 -15 35 -18 35 -4 0 -139 -23 -300 -52 -235 -42 -292 -55 -292 -67 0 -9 9 -41 21 -71 140 -371 442 -550 924 -550 340 0 590 91 766 278 77 81 123 163 149 268 56 218 1 439 -147 590 -111 114 -231 160 -621 243 -272 58 -321 79 -341 147 -30 106 104 176 278 144 111 -20 190 -73 237 -160 10 -19 20 -37 21 -39 3 -5 517 150 528 160 6 6 -3 34 -24 77 -119 243 -317 387 -597 436 -97 17 -327 20 -429 5z"/>
                    <path d="M2300 1270 l0 -1050 795 0 795 0 0 250 0 250 -475 0 -475 0 0 170 0 170 380 0 380 0 0 240 0 240 -380 0 -380 0 0 150 0 150 475 0 475 0 0 240 0 240 -795 0 -795 0 0 -1050z"/>
                    <path d="M4130 1270 l0 -1050 245 0 245 0 2 729 3 730 195 -730 195 -729 206 0 c164 0 208 3 212 13 3 8 88 333 189 723 l183 709 3 -722 2 -723 305 0 305 0 0 1050 0 1050 -430 0 c-360 0 -430 -2 -430 -14 0 -8 -29 -126 -65 -262 -36 -137 -97 -373 -136 -524 -40 -151 -75 -279 -79 -283 -4 -4 -19 39 -34 95 -14 57 -81 302 -148 546 l-121 442 -424 0 -423 0 0 -1050z"/>
                    <path d="M6780 1270 l0 -1050 325 0 325 0 0 1050 0 1050 -325 0 -325 0 0 -1050z"/>
                    <path d="M7790 1270 l0 -1050 266 0 265 0 -4 583 c-3 381 -8 599 -15 632 -7 28 -14 61 -17 75 -4 14 27 -40 67 -120 82 -160 100 -192 457 -765 l248 -400 267 -3 266 -2 0 1050 0 1050 -266 0 -266 0 5 -452 c4 -329 10 -480 21 -553 21 -139 21 -139 -28 -45 -64 125 -125 225 -401 658 l-249 392 -308 0 -308 0 0 -1050z"/>
                    <path d="M10425 2308 c-6 -19 -43 -137 -235 -758 -95 -305 -212 -683 -260 -840 -49 -157 -100 -325 -115 -375 -15 -49 -30 -96 -32 -103 -4 -9 52 -12 259 -12 l264 0 33 108 c18 59 46 151 62 205 l30 97 281 -2 282 -3 56 -200 57 -200 332 -3 c265 -2 332 0 328 10 -2 7 -150 480 -328 1050 l-324 1038 -343 0 c-265 0 -344 -3 -347 -12z m318 -735 c15 -54 51 -185 80 -290 l54 -193 -168 0 -168 0 19 68 c11 37 47 167 81 290 34 122 65 222 69 222 4 0 19 -44 33 -97z"/>
                    <path d="M11960 1270 l0 -1050 740 0 740 0 0 260 0 260 -415 0 -415 0 0 790 0 790 -325 0 -325 0 0 -1050z"/>
                  </g>
                </svg> -->


              </div>
            </div>
          </div>
<!--------------------------SLIDE THREE ----------------------------------------------------------------------------->

          <!-- <div class="slide three" id="spatiality">
            <div id="two-main">
              <div class="item" >
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                class="svg-image-three" viewBox="0 0 2380.000000 579.000000"
                preserveAspectRatio="xMidYMid meet">
              
              <g transform="translate(0.000000,579.000000) scale(0.100000,-0.100000)"
              fill="#000000" stroke="none">
                  <path d="M1320 5139 c-297 -34 -523 -176 -630 -394 -45 -91 -63 -176 -63 -295 0 -88 5 -118 27 -185 32 -94 101 -201 159 -249 111 -90 304 -163 589 -221 205 -42 259 -58 298 -92 72 -60 58 -156 -27 -196 -42 -19 -65 -22 -173 -22 -106 1 -134 4 -185 24 -75 29 -167 118 -186 180 -7 22 -13 41 -13 41 -1 0 -133 -24 -293 -53 -161 -30 -295 -56 -298 -59 -9 -8 32 -116 77 -201 56 -106 182 -237 283 -293 169 -94 325 -128 580 -128 148 0 199 4 284 23 328 70 550 249 627 506 27 90 25 268 -3 360 -26 84 -79 174 -136 234 -111 116 -235 163 -672 256 -204 44 -268 70 -291 118 -33 70 8 143 94 167 54 15 171 12 229 -5 78 -23 143 -72 181 -135 23 -38 38 -54 50 -52 27 6 506 152 510 157 8 8 -90 183 -131 233 -186 226 -501 325 -887 281z"/>
                  <path d="M18635 5139 c-330 -44 -580 -225 -725 -524 -102 -208 -139 -457 -110 -720 52 -458 341 -792 760 -881 111 -24 353 -24 456 -1 176 40 317 114 441 231 194 183 301 424 322 726 43 607 -243 1046 -754 1156 -87 19 -297 26 -390 13z m270 -493 c79 -37 120 -94 156 -216 18 -63 22 -108 26 -277 12 -475 -63 -664 -270 -680 -192 -16 -294 114 -327 416 -24 217 3 474 64 606 36 77 101 144 158 162 60 19 139 15 193 -11z"/>
                  <path d="M2650 4070 l0 -1050 330 0 330 0 0 353 c0 193 0 364 0 378 l0 27 263 5 c283 5 357 16 482 72 175 77 315 237 359 410 78 310 -49 616 -313 754 -167 87 -301 101 -958 101 l-493 0 0 -1050z m1010 554 c32 -9 67 -29 86 -48 69 -69 71 -194 3 -270 -51 -58 -93 -69 -281 -74 l-168 -4 0 206 0 206 153 0 c111 0 168 -4 207 -16z"/>
                  <path d="M5016 5103 c-18 -62 -619 -2006 -631 -2041 l-14 -42 262 2 261 3 60 202 61 203 286 0 285 0 58 -205 59 -205 323 0 c214 0 324 3 324 10 0 9 -569 1836 -631 2028 l-21 62 -338 0 c-314 0 -339 -1 -344 -17z m368 -900 c44 -159 81 -294 84 -300 3 -10 -35 -13 -168 -13 -159 0 -172 1 -168 18 43 163 164 582 168 582 3 0 41 -129 84 -287z"/>
                  <path d="M6250 4865 l0 -255 220 0 220 0 0 -795 0 -795 300 0 300 0 0 795 0 795 220 0 220 0 0 255 0 255 -740 0 -740 0 0 -255z"/>
                  <path d="M7910 4070 l0 -1050 325 0 325 0 0 1050 0 1050 -325 0 -325 0 0 -1050z"/>
                  <path d="M9400 5116 c0 -2 -31 -104 -69 -227 -358 -1157 -554 -1791 -566 -1827 l-14 -42 261 2 261 3 61 200 62 200 285 3 285 2 58 -205 59 -205 323 0 c216 0 324 3 324 10 0 9 -568 1833 -631 2028 l-21 62 -339 0 c-186 0 -339 -2 -339 -4z m364 -914 c43 -158 81 -293 84 -299 3 -10 -35 -13 -168 -13 -159 0 -172 1 -168 18 67 243 164 582 168 582 3 0 41 -129 84 -288z"/>
                  <path d="M10930 4070 l0 -1050 735 0 735 0 0 260 0 260 -410 0 -410 0 0 790 0 790 -325 0 -325 0 0 -1050z"/>
                  <path d="M12620 4070 l0 -1050 325 0 325 0 0 1050 0 1050 -325 0 -325 0 0 -1050z"/>
                  <path d="M13450 4865 l0 -255 220 0 220 0 0 -795 0 -795 300 0 300 0 0 795 0 795 220 0 220 0 0 255 0 255 -740 0 -740 0 0 -255z"/>
                  <path d="M14993 5113 c3 -5 161 -275 351 -602 l347 -594 -1 -432 c0 -238 2 -440 6 -449 5 -14 39 -16 315 -16 l309 0 0 448 0 447 138 255 c77 140 223 409 325 598 103 189 187 345 187 348 0 2 -125 4 -278 4 l-277 0 -175 -345 c-96 -189 -177 -345 -180 -344 -3 0 -87 154 -186 342 l-182 342 -352 3 c-193 1 -349 -1 -347 -5z"/>
                  <path d="M20060 4070 l0 -1050 315 0 315 0 0 395 0 395 340 0 340 0 0 240 0 240 -340 0 -340 0 0 165 0 165 445 0 445 0 0 250 0 250 -760 0 -760 0 0 -1050z"/>
                  <path d="M5135 2659 c-106 -14 -210 -45 -310 -94 -321 -155 -561 -509 -620 -915 -23 -156 -16 -409 14 -530 58 -231 210 -420 433 -539 195 -104 441 -135 684 -86 342 70 636 351 773 738 60 170 75 269 75 492 0 185 -2 207 -26 297 -122 448 -526 700 -1023 637z m268 -512 c121 -71 158 -209 122 -452 -55 -365 -130 -586 -229 -671 -113 -97 -320 -81 -398 31 -84 121 -74 410 27 761 54 188 116 283 218 334 57 29 68 31 138 28 60 -4 86 -10 122 -31z"/>
                  <path d="M13875 2659 c-456 -58 -811 -424 -922 -949 -14 -66 -18 -131 -18 -290 0 -180 3 -216 23 -295 59 -236 209 -424 434 -544 244 -131 576 -145 846 -36 268 108 498 367 611 688 60 170 75 269 75 492 0 184 -2 208 -26 296 -122 450 -525 701 -1023 638z m272 -515 c119 -74 154 -207 118 -449 -40 -270 -84 -436 -147 -558 -69 -133 -154 -184 -293 -175 -233 15 -296 219 -205 669 83 408 194 556 407 546 59 -3 82 -10 120 -33z"/>
                  <path d="M1450 2639 c-262 -30 -448 -133 -569 -314 -82 -123 -120 -283 -101 -430 12 -91 21 -121 62 -197 52 -99 129 -169 250 -227 95 -46 155 -69 489 -190 144 -52 174 -78 174 -151 0 -42 -5 -54 -35 -85 -50 -52 -117 -69 -244 -63 -161 8 -270 61 -324 158 -17 32 -32 48 -42 45 -8 -2 -136 -27 -285 -55 -148 -28 -278 -54 -288 -58 -16 -6 -13 -16 26 -93 123 -246 330 -390 659 -460 138 -30 409 -32 541 -6 245 49 440 168 552 338 158 237 148 543 -24 731 -108 118 -184 159 -492 264 -321 109 -349 126 -349 211 0 115 162 168 336 111 77 -25 156 -90 176 -144 8 -23 17 -33 28 -30 8 3 125 33 260 67 135 34 249 65 253 69 12 11 -37 114 -89 187 -121 169 -360 292 -629 323 -104 11 -228 11 -335 -1z"/>
                  <path d="M21775 2639 c-265 -36 -444 -135 -561 -311 -85 -128 -121 -278 -103 -431 10 -92 20 -122 61 -199 52 -99 129 -169 250 -227 95 -46 155 -69 489 -190 144 -52 174 -78 174 -151 0 -42 -5 -54 -35 -85 -50 -52 -117 -69 -244 -63 -182 9 -289 72 -350 205 -2 3 -598 -116 -602 -120 -9 -9 87 -180 133 -238 120 -151 312 -256 565 -310 145 -31 420 -32 558 -2 181 39 316 106 435 215 201 183 270 495 160 727 -43 91 -148 199 -250 258 -43 25 -166 74 -315 126 -338 116 -360 129 -360 210 0 86 57 128 181 135 151 9 294 -63 331 -166 8 -21 17 -31 28 -28 8 3 125 33 260 67 135 34 249 65 253 69 4 4 -3 33 -17 65 -96 216 -310 369 -601 430 -95 20 -341 28 -440 14z"/>
                  <path d="M2756 2593 c-8 -37 -76 -439 -76 -447 0 -3 101 -6 224 -6 l223 0 -133 -792 c-74 -436 -134 -801 -134 -810 0 -17 21 -18 299 -18 277 0 300 1 305 18 2 9 64 374 137 810 l133 792 231 0 232 0 40 240 40 240 -758 0 -757 0 -6 -27z"/>
                  <path d="M6458 1570 l-175 -1050 298 0 297 0 5 23 c3 12 33 192 68 400 l62 377 126 0 126 0 89 -388 c49 -213 91 -393 94 -400 3 -9 75 -12 312 -12 l308 0 -48 188 c-27 103 -78 300 -113 439 l-65 252 96 47 c227 113 341 303 342 570 0 168 -47 298 -150 407 -97 104 -238 166 -425 187 -49 5 -311 10 -581 10 l-491 0 -175 -1050z m1104 577 c76 -37 102 -79 101 -162 -1 -115 -67 -185 -201 -214 -70 -15 -372 -15 -372 0 0 15 61 382 66 397 3 11 38 13 177 10 165 -3 174 -4 229 -31z"/>
                  <path d="M8360 2612 c0 -4 110 -265 244 -580 l244 -573 -74 -442 c-40 -243-76 -454 -78 -470 l-6 -27 312 2 312 3 76 452 c42 249 81 458 87 465 5 7 189 260 409 562 l399 549 6 -38 c4 -22 55 -479 115 -1017 l109 -978 256 0 257 0 45 113 c232 574 352 874 397 995 30 79 56 139 58 132 2 -6 25 -287 51 -623 l47 -612 277 -3 c157 -1 277 2 277 7 0 8 73 185 611 1486 l248 600 -236 3 c-130 1 -240 -1 -244 -5 -11 -11 -413 -1035 -454 -1153 l-32 -95 -6 55 c-4 30 -25 298 -47 595 -22 297 -43 555 -46 573 l-5 32 -251 -2 -250 -3 -199 -485 c-110 -267 -218 -534 -241 -595 -23 -60 -46 -121 -51 -135 -13 -30 -20 37 -72 700 -19 250 -38 470 -41 488 l-5 32 -548 0 -548 0 -239 -360 c-230 -346 -239 -359 -250 -333 -6 16 -66 178 -135 360 l-124 333 -327 0 c-181 0 -328 -3 -328 -8z"/>
                  <path d="M15198 1570 l-175 -1050 298 0 297 0 15 83 c8 45 39 225 68 400 l52 317 126 0 126 0 84 -368 c47 -202 89 -382 93 -399 l9 -33 309 0 308 0 -53 208 c-30 114 -81 311 -113 439 l-60 232 96 47 c227 113 341 303 342 570 0 103 -24 214 -64 293 -44 86 -137 176 -230 221 -167 82 -242 90 -862 90 l-491 0 -175 -1050z m1104 577 c76 -37 102 -79 101 -162 -1 -68 -11 -95 -56 -143 -58 -61 -118 -75 -329 -80 -141 -3 -188 -1 -188 8 0 17 60 372 66 393 6 18 18 19 177 15 165 -3 174 -4 229 -31z"/>
                  <path d="M17288 1570 l-175 -1050 716 0 717 0 37 233 c21 127 41 240 43 249 5 17 -18 18 -396 18 l-400 0 5 22 c3 13 61 363 130 778 69 415 127 765 130 778 l5 22 -318 0 -319 0 -175 -1050z"/>
                  <path d="M18952 1588 c-95 -568 -172 -1041 -172 -1050 0 -17 28 -18 449 -18 658 0 829 15 987 90 318 148 533 442 600 820 24 138 23 376 -3 500 -55 256 -168 429 -365 557 -86 55 -174 89 -291 109 -74 14 -184 18 -563 21 l-470 5 -172 -1034z m1059 543 c55 -26 114 -82 139 -131 45 -88 55 -148 54 -320 -1 -144 -4 -177 -27 -264 -43 -159 -127 -299 -216 -355 -78 -49 -140 -63 -320 -68 l-164 -6 5 29 c4 16 48 280 99 588 l93 558 145 -4 c126 -4 152 -7 192 -27z"/>
              </g>
              </svg>
                <p id="two-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
              </div>
              <div class="item" >
              </div>
              <div class="item">

              </div>
              <div class="item">
                <p id="two-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                class="svg-image-sub" viewBox="0 0 2390.000000 558.000000"
                preserveAspectRatio="xMidYMid meet">
               
               <g transform="translate(0.000000,558.000000) scale(0.100000,-0.100000)"
               fill="#fffefe" stroke="none">
                  <path d="M8790 5045 l0 -245 310 0 310 0 0 245 0 245 -310 0 -310 0 0 -245z"/>
                  <path d="M1408 5235 c-213 -40 -390 -151 -525 -329 -99 -131 -175 -334 -203 -543 -16 -118 -7 -420 15 -518 50 -219 119 -349 265 -496 94 -94 116 -111 210 -157 164 -82 229 -95 450 -96 161 0 196 3 265 22 171 47 342 156 441 280 85 107 156 284 179 445 l7 47 -32 0 c-17 0 -142 7 -276 16 -135 8 -255 14 -267 12 -17 -2 -23 -14 -33 -71 -38 -203 -159 -302 -329 -267 -115 24 -190 122 -222 290 -24 132 -22 456 4 581 38 178 104 274 208 304 96 28 181 1 252 -79 48 -54 73 -125 80 -228 l6 -78 36 0 c71 0 565 30 569 35 10 10 -29 206 -57 289 -43 129 -104 228 -201 327 -71 72 -100 93 -180 132 -143 71 -224 89 -420 93 -116 2 -188 -1 -242 -11z"/>
                  <path d="M7739 5193 l-46 -4 -6 -181 c-4 -100 -7 -214 -7 -255 l0 -73 -115 0 -115 0 0 -200 0 -200 115 0 115 0 0 -387 c0 -423 5 -474 56 -578 33 -68 107 -138 177 -170 97 -44 203 -59 382 -51 88 3 189 12 225 18 l65 13 3 224 2 223 -22 -6 c-13 -3 -55 -11 -94 -17 -93 -14 -147 -1 -174 44 -19 30 -20 52 -20 360 l0 327 155 0 155 0 0 200 0 200 -155 0 -155 0 0 260 0 260 -247 -2 c-137 -1 -269 -3 -294 -5z"/>
                  <path d="M3506 4694 c-27 -9 -65 -26 -86 -39 -56 -35 -128 -123 -152 -187 -13 -31 -25 -53 -28 -47 -4 5 -5 66 -4 134 l3 125 -259 0 -260 0 0 -780 0 -780 294 0 295 0 3 413 c3 399 4 414 26 468 42 106 132 162 262 163 41 0 87 -3 103 -7 l27 -7 0 280 0 280 -87 -1 c-49 0 -110 -7 -137 -15z"/>
                  <path d="M4517 4700 c-214 -38 -388 -141 -509 -301 -117 -155 -168 -308 -168 -511 0 -144 18 -233 70 -343 111 -238 313 -387 596 -441 121 -22 362 -15 484 16 245 61 437 227 517 448 13 36 20 68 16 72 -6 6 -498 41 -553 40 -9 0 -22 -20 -33 -49 -36 -103 -144 -155 -274 -133 -107 18 -152 69 -173 193 -5 35 -10 70 -10 77 0 9 112 12 526 12 l527 0 -6 133 c-6 151 -29 254 -81 364 -95 200 -253 331 -483 399 -75 22 -111 27 -243 30 -85 1 -177 -1 -203 -6z m293 -380 c63 -32 100 -103 100 -192 l0 -38 -215 0 -215 0 0 28 c0 76 51 175 104 204 60 32 160 31 226 -2z"/>
                  <path d="M6325 4699 c-265 -38 -454 -156 -544 -340 -22 -46 -43 -96 -47 -111 -5 -24 -3 -27 28 -32 76 -12 510 -47 524 -42 7 3 14 13 14 23 0 28 57 92 98 110 49 21 196 23 236 3 44 -22 66 -60 73 -122 l5 -55 -98 -7 c-256 -18 -492 -69 -627 -135 -262 -126 -370 -389 -258 -627 85 -182 255 -273 507 -274 188 0 314 48 430 164 l72 71 6 -80 c4 -44 9 -90 13 -102 l5 -23 295 0 c277 0 295 1 288 18 -34 89 -38 139 -45 657 -4 289 -12 536 -17 556 -39 142 -159 252 -334 308 -141 46 -449 65 -624 40z m382 -956 c-11 -176 -52 -238 -174 -263 -133 -28 -226 36 -209 144 13 80 67 132 176 171 36 13 161 40 204 44 5 1 6 -41 3 -96z"/>
                  <path d="M11867 4700 c-214 -38 -388 -141 -509 -301 -117 -155 -168 -308 -168 -511 0 -144 18 -233 70 -343 112 -240 319 -392 603 -441 125 -22 357 -14 477 16 135 33 238 90 339 186 47 45 101 107 120 138 40 67 85 186 74 196 -8 7 -562 45 -567 39 -1 -2 -10 -25 -20 -51 -38 -102 -142 -152 -274 -130 -35 6 -75 18 -88 27 -48 31 -75 94 -89 203 l-7 52 527 0 528 0 -6 133 c-6 155 -30 256 -86 372 -93 191 -255 325 -476 391 -77 22 -112 27 -245 30 -85 1 -177 -1 -203 -6z m293 -380 c63 -32 100 -103 100 -192 l0 -38 -216 0 -217 0 7 53 c14 100 68 178 134 193 15 3 32 8 37 10 22 8 119 -8 155 -26z"/>
                  <path d="M8790 3900 l0 -780 310 0 310 0 0 780 0 780 -310 0 -310 0 0 -780z"/>
                  <path d="M9550 4675 c0 -4 545 -1460 575 -1537 7 -16 27 -18 239 -18 l231 0 47 128 c91 249 506 1377 517 1405 l11 27 -223 0 -222 0 -136 -407 -135 -406 -135 404 -136 404 -316 3 c-175 1 -317 0 -317 -3z"/>
                  <path d="M18850 2545 l0 -245 310 0 310 0 0 245 0 245 -310 0 -310 0 0 -245z"/>
                  <path d="M742 1928 c4 -877 1 -835 70 -978 40 -83 139 -183 231 -235 147 -81 346 -125 572 -125 293 0 506 68 659 211 109 102 161 211 185 392 7 50 11 345 11 803 l0 724 -254 0 -255 0 -4 -722 c-2 -511 -7 -733 -15 -758 -15 -47 -75 -103 -137 -131 -38 -18 -70 -23 -135 -23 -134 -1 -205 35 -247 129 -17 37 -18 92 -21 773 l-3 732 -330 0 -330 0 3 -792z"/>
                  <path d="M4020 1670 l0 -1050 178 0 177 0 27 88 c15 48 32 93 37 101 7 11 23 0 75 -51 116 -115 254 -168 437 -168 245 0 416 87 540 275 134 205 176 574 98 871 -66 252 -210 412 -415 460 -96 22 -258 15 -334 -15 -71 -29 -151 -90 -181 -138 l-24 -38 -3 358 -2 357 -305 0 -305 0 0 -1050z m875 131 c37 -21 71 -70 87 -125 9 -27 13 -117 13 -271 0 -271 -10 -325 -75 -386 -68 -64 -183 -60 -240 9 -43 52 -50 107 -50 378 0 278 6 320 57 370 55 56 139 66 208 25z"/>
                  <path d="M10370 1671 l0 -1051 330 0 330 0 0 380 0 380 233 0 c127 0 263 5 300 10 196 29 367 128 487 282 106 137 140 401 76 591 -74 221 -251 374 -496 429 -90 20 -127 22 -677 25 l-583 4 0 -1050z m1041 536 c76 -38 93 -66 97 -157 4 -100 -19 -142 -100 -184 -55 -27 -65 -29 -223 -34 l-165 -5 0 208 0 208 169 -5 c158 -4 171 -6 222 -31z"/>
                  <path d="M12380 1670 l0 -1050 305 0 305 0 0 1050 0 1050 -305 0 -305 0 0 -1050z"/>
                  <path d="M22925 2536 c-129 -41 -214 -141 -248 -293 -8 -32 -18 -58 -23 -58 -5 0 -49 7 -99 14 -137 21 -382 10 -508 -23 -303 -78 -453 -248 -434 -493 9 -126 68 -221 178 -293 l56 -36 -64 -34 c-148 -76 -217 -175 -217 -310 -1 -89 18 -132 88 -199 l46 -45 -48 -24 c-99 -50 -157 -131 -168 -238 -18 -166 86 -294 288 -357 167 -53 247 -62 573 -62 265 0 314 3 421 22 255 46 390 130 465 288 108 229 9 511 -216 616 -98 46 -177 57 -522 73 -312 14 -355 19 -375 50 -14 21 -8 53 13 72 19 17 44 20 258 25 269 8 338 20 476 88 100 49 168 115 209 201 29 61 31 72 31 185 0 113 -2 124 -31 185 -17 36 -54 90 -82 121 l-51 56 22 21 c31 30 116 44 213 36 l81 -6 6 113 c4 63 7 157 7 210 0 92 -1 97 -22 103 -42 11 -282 5 -323 -8z m-450 -664 c50 -30 70 -76 70 -162 0 -129 -54 -185 -176 -184 -83 0 -126 23 -157 84 -42 80 -18 216 43 256 56 37 161 39 220 6z m-7 -1252 c196 -11 221 -17 246 -52 41 -58 1 -137 -78 -157 -75 -19 -235 -24 -366 -12 -194 18 -248 39 -270 107 -21 64 11 109 90 125 36 7 56 7 378 -11z"/>
                  <path d="M3605 2196 c-132 -42 -202 -115 -271 -285 -8 -18 -10 15 -10 122 l1 147 -257 0 -258 0 0 -780 0 -780 294 0 295 0 3 413 c4 362 6 418 22 458 42 112 134 171 266 173 41 0 87 -3 103 -7 l27 -7 0 280 0 280 -87 -1 c-49 0 -106-6 -128 -13z"/>
                  <path d="M6460 2204 c-311 -47 -483 -150 -579 -345 -22 -46 -43 -96 -47 -111 -5 -24 -3 -27 28 -32 76 -12 510 -47 524 -42 7 3 14 14 14 25 0 28 56 89 99 108 48 21 195 23 235 3 44 -22 66 -60 73 -122 l5 -55 -98 -7 c-283 -20 -515 -73 -659 -149 -292 -155 -358 -508 -139 -738 107 -112 240 -154 454 -146 188 7 295 52 404 168 l63 67 7 -82 c4 -44 9 -91 13 -103 l5 -23 294 0 c162 0 294 2 294 4 0 2 -6 22 -14 44 -28 77 -36 231 -36 647 0 555 -6 592 -125 711 -92 93 -203 140 -395 169 -86 13 -353 19 -420 9z m347 -961 c-8 -130 -28 -187 -79 -223 -84 -61 -235 -61 -280 1 -51 69 -23 177 60 230 62 39 190 78 296 88 5 1 6 -41 3 -96z"/>
                  <path d="M8565 2192 c-113 -34 -204 -99 -267 -192 -16 -24 -17 -22 -17 78 l-1 102 -285 0 -285 0 0 -780 0 -780 310 0 310 0 0 503 c0 332 4 516 11 542 16 60 51 99 99 114 79 24 143 -4 169 -72 7 -19 11 -207 11 -558 l0 -529 311 0 310 0 -3 613 c-4 587 -5 615 -25 680 -26 87 -64 140 -142 199 -87 67 -164 90 -321 94 -98 3 -138 0 -185 -14z"/>
                  <path d="M13857 2199 c-111 -16 -192 -41 -285 -86 -125 -61 -204 -138 -261 -254 -55 -114 -60 -137 -29 -143 54 -11 527 -48 537 -41 6 3 11 15 11 25 0 27 53 84 98 106 26 13 61 18 122 18 130 1 176 -33 187 -136 l5 -55 -98 -7 c-252 -18 -492 -69 -627 -135 -168 -81 -277 -220 -297 -379 -20 -153 29 -283 149 -395 93 -87 217 -127 397 -127 189 0 328 54 438 170 l63 68 7 -82 c4 -44 9 -91 13 -103 l5 -23 294 0 c162 0 294 2 294 4 0 2 -6 22 -14 44 -28 77 -36 231 -36 647 0 555 -6 592 -125 711 -92 94 -201 141 -390 169 -108 16 -360 18 -458 4z m380 -956 c-11 -176 -52 -238 -173 -263 -99 -21 -174 4 -200 65 -42 102 26 203 168 251 40 13 161 39 202 43 5 1 6 -41 3 -96z"/>
                  <path d="M16005 2192 c-113 -34 -204 -99 -267 -192 -16 -24 -17 -22 -17 78 l-1 102 -285 0 -285 0 0 -780 0 -780 310 0 310 0 0 503 c0 332 4 516 11 542 16 60 51 99 99 114 79 24 143 -4 169 -72 7 -19 11 -207 11 -558 l0 -529 311 0 310 0 -3 613 c-4 587 -5 615 -25 680 -26 87 -64 140 -142 199 -87 67 -164 90 -321 94 -98 3 -138 0 -185 -14z"/>
                  <path d="M17881 2199 c-109 -21 -226 -100 -283 -188 l-28 -45 0 107 0 107 -285 0 -285 0 0 -780 0 -780 310 0 309 0 3 523 3 522 23 43 c40 76 139 102 209 57 52 -35 53 -42 53 -615 l0 -530 310 0 310 0 0 564 c0 729 -6 772 -120 886 -96 96 -220 140 -390 139 -52 -1 -115 -5 -139 -10z"/>
                  <path d="M20645 2192 c-113 -34 -204 -99 -267 -192 -16 -24 -17 -22 -17 78 l-1 102 -285 0 -285 0 0 -780 0 -780 310 0 310 0 0 503 c0 332 4 516 11 542 16 60 51 99 99 114 79 24 143 -4 169 -72 7 -19 11 -207 11 -558 l0 -529 311 0 310 0 -3 613 c-4 587 -5 615 -25 680 -26 87 -64 140 -142 199 -87 67 -164 90 -321 94 -98 3 -138 0 -185 -14z"/>
                  <path d="M18850 1400 l0 -780 310 0 310 0 0 780 0 780 -310 0 -310 0 0 -780z"/>
               </g>
               </svg>
               
              </div>
            </div>
          <div> -->
<!--------------------------END OF SLIDE THREE ----------------------------------------------------------------------------->

          </div>
          </div>
        </div>
      </div>

</body>
</html>
