<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sealonthebeach" />
    <meta name="twitter:creator" content="@sealonthebeach" />
    <meta property="og:url" content="https://www.sealonthebeach.com/seminal/introduction.html" />
    <meta property="og:title" content="Seminal Project Introduction" />
    <meta property="og:description" content="Supporting Creative Minds in Urban Planning (SEMINAL) is an interdisciplinary project that aims to explore the potential and limits of design and creative thinking in strategic urban planning practices." />
    <meta property="og:image" content="https://www.sealonthebeach.com/assets/img/twitter/blog-intro.png" />
    <link href="/css/blogStyle.css" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-66MEQK7LW6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-66MEQK7LW6');
    </script>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=630e40900b5e930012a9c394&product=inline-share-buttons' async='async'></script>
    
    <title>SEMINAL - Project Introduction</title>
</head>
<body>
  <div class="navbar">
    <!-- <a href="#news">Next</a> -->
    <a href="/seminal/collection">Collection</a>

  </div>
    <div class="grid-container">
        <div class="grid-item grid-item-even">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                    class="svg-image-blog" viewBox="0 0 2682.000000 354.000000"
                    preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,354.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                        <path d="M0 1770 l0 -1770 13410 0 13410 0 0 1770 0 1770 -13410 0 -13410 0 0 -1770z m1840 435 l0 -825 245 0 245 0 0 -240 0 -240 -805 0 -805 0 0 240 0 240 260 0 260 0 0 485 c0 332 -3 485 -10 485 -6 0 -23 -6 -38 -14 -70 -36 -271 -104 -384 -130 l-28 -6 0 238 0 239 82 22 c229 63 416 174 499 295 l24 36 228 0 227 0 0 -825z m10456 790 c179 -45 309 -120 435 -251 91 -95 129 -149 179 -258 80 -170 113 -374 98 -622 -16 -281 -104 -506 -267 -685 -126 -138 -273 -227 -457 -275 -85 -23 -121 -27 -254 -27 -232 -1 -383 37 -550 141 -89 55 -220 182 -279 270 -244 363 -240 964 10 1333 152 225 382 364 659 399 123 15 313 4 426 -25z m6184 25 c259 -32 439 -134 576 -326 79 -111 149 -301 161 -439 l6 -71 -249 -13 c-137 -6 -270 -14 -295 -17 l-47 -6 -6 69 c-21 211 -121 333 -276 333 -141 -1 -230 -103 -278 -320 -13 -57 -17 -127 -17 -295 0 -316 28 -430 128 -522 49 -46 96 -63 171 -63 148 0 245 99 277 283 l11 69 47 -6 c25 -3 141 -10 256 -16 277 -14 275 -14 275 -49 0 -60 -51 -229 -96 -319 -153 -304 -501 -475 -887 -434 -140 15 -210 33 -316 83 -193 90 -340 242 -432 446 -115 257 -129 669 -33 975 76 240 243 452 433 547 163 83 382 116 591 91z m4525 -1 c406 -50 706 -315 812 -717 21 -81 26 -127 30 -276 6 -197 -5 -312 -42 -441 -101 -347 -350 -597 -680 -680 -173 -44 -392 -42 -562 6 -344 96 -598 378 -672 746 -99 484 55 964 384 1198 195 139 456 197 730 164z m-18045 -1069 l0 -1050 -325 0 -325 0 0 1043 c0 574 3 1047 7 1050 3 4 150 7 325 7 l318 0 0 -1050z m1177 725 c340 -535 365 -575 435 -710 37 -71 67 -125 67 -120 0 6 -7 53 -15 105 -12 73 -17 207 -21 573 l-5 477 261 0 261 0 0 -1050 0 -1050 -262 0 -263 0 -125 202 c-69 111 -174 281 -234 378 -60 96 -145 234 -189 305 -44 72 -118 204 -165 295 -46 91 -81 154 -78 140 34 -163 36 -204 36 -761 l0 -559 -260 0 -260 0 0 1043 c0 574 3 1047 7 1050 4 4 142 6 307 5 l300 -3 203 -320z m2643 70 l0 -255 -220 0 -220 0 0 -795 0 -795 -300 0 -300 0 0 795 0 795 -220 0 -220 0 0 255 0 255 740 0 740 0 0 -255z m1521 232 c244 -60 399 -177 476 -362 71 -169 50 -434 -47 -586 -39 -59 -128 -135 -214 -180 -34 -18 -62 -33 -64 -34 -1 -1 79 -197 179 -436 99 -239 185 -444 190 -457 l9 -22 -357 2 -356 3 -134 350 c-73 193 -142 370 -151 395 l-18 45 -102 3 c-78 2 -102 0 -102 -10 0 -7 0 -187 0 -400 l0 -388 -325 0 -325 0 0 1051 0 1050 638 -4 c542 -3 647 -6 703 -20z m3958 13 c259 -27 469 -122 611 -277 65 -71 151 -201 191 -288 124 -273 129 -633 14 -920 -111 -276 -354 -494 -630 -564 -138 -35 -237 -41 -697 -41 l-448 0 0 1050 0 1050 429 0 c236 0 475 -5 530 -10z m1803 -712 c3 -654 5 -727 20 -766 43 -109 97 -143 233 -150 76 -3 99 -1 148 18 32 12 75 36 94 53 71 63 68 21 71 835 l3 732 250 0 250 0 -3 -787 c-4 -877 0 -830 -74 -981 -83 -170 -263 -287 -520 -339 -129 -25 -393 -23 -529 5 -260 52 -439 168 -519 335 -72 148 -69 115 -73 985 l-4 782 325 0 325 0 3 -722z m4698 467 l0 -255 -220 0 -220 0 0 -795 0 -795 -300 0 -300 0 0 795 0 795 -220 0 -220 0 0 255 0 255 740 0 740 0 0 -255z m828 -797 l2 -1048 -325 0 -325 0 0 1034 c0 569 3 1042 6 1050 6 15 41 16 323 14 l316 -3 3 -1047z m3349 727 c340 -535 365 -575 435 -710 37 -71 67 -125 67 -120 0 6 -7 53 -15 105 -12 73 -17 207 -21 573 l-5 477 261 0 261 0 0 -1050 0 -1050 -262 0 -263 0 -125 202 c-69 111 -174 281 -234 378 -60 96 -145 234 -189 305 -44 72 -118 204 -165 295 -46 91 -81 154 -78 140 34 -163 36 -204 36 -761 l0 -559 -260 0 -260 0 0 1043 c0 574 3 1047 7 1050 4 4 142 6 307 5 l300 -3 203 -320z m-21737 -1490 l0 -285 -290 0 -290 0 0 285 0 285 290 0 290 0 0 -285z"/>
                        <path d="M11936 2535 c-53 -19 -120 -87 -152 -154 -49 -103 -68 -223 -68 -441 -1 -291 35 -432 134 -524 56 -53 110 -70 195 -63 184 14 256 145 274 498 8 159 -1 356 -19 434 -32 131 -105 228 -189 253 -51 16 -127 14 -175 -3z"/>
                        <path d="M22765 2531 c-92 -42 -153 -140 -188 -300 -17 -78 -21 -133 -21 -291 -1 -291 35 -432 134 -524 57 -53 110 -70 197 -63 200 16 273 181 274 622 0 203 -11 293 -52 399 -27 74 -96 146 -155 164 -59 17 -142 15 -189 -7z"/>
                        <path d="M9605 2350 l0 -202 195 4 c180 3 199 5 243 27 72 35 101 79 105 161 5 88 -19 138 -85 177 -48 28 -49 28 -253 31 l-205 3 0 -201z"/>
                        <path d="M13939 2516 c-2 -2 -3 -259 -1 -570 l2 -566 110 0 c87 0 121 4 165 21 114 42 215 183 251 349 25 112 23 322 -5 423 -45 171 -129 286 -236 326 -44 17 -79 21 -169 21 -62 0 -115 -2 -117 -4z"/>
                    </g>
                </svg>
                <!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons" style="margin-top: 2vh;"></div><!-- ShareThis END -->
                <p id="paragraph" >In 2015, IDEO, a world-renowned design firm, tried to change the narrative around dying by ‘redesigning death’. Their idea was to create an app to make the end of life a better experience, using co-creation and user-centric design. The framing of death as ‘just another design challenge’, ignited heated arguments among designers around the social role and capacity of design. The IDEO’s story highlighted the major issue with the unrelentingly positive belief that all problems can be solved through technology and design. It led designers to call for more critical reflections on the limits of design and richer enquiries about what creativity means for the problem at hand.</p>
                <p id="paragraph" >Death might be an extreme example. However, the criticism remains valid for other seemingly unproblematic applications of design-driven approaches. Complex social and environmental challenges, such as energy transition, climate adaptation and urban inequality, today, are treated as design problems that can be solved in creative, collaborative and experimental spaces provided by living labs in cities. The number of living labs registered in the European Network of Living Labs (ENoLL) has increased from 20 living labs in 2006 to 188 in 2010 and to more than 475 labs in 2020. While being successful in creating new technologies, insights and solutions, the effectiveness of the applied models is proven to be limited in innovating strategic and foresight activities of cities that are in place to deliver future-proof solutions, reiterating the challenge in bridging this seemingly unbridgeable gap between experimental design-oriented ways of thinking and delivering future-proof strategies.</p>
        </div>
        <div class="grid-item grid-item-odd">
            
        </div>
        <div class="grid-item grid-item-even">
              
            <img src="/img/blog-intro.png" alt="collage" width="95%">

        </div>
        <div class="grid-item grid-item-odd">
            <p id="paragraph"><span style="font-weight: bold;">Supporting Creative Minds in Urban Planning (SEMINAL) </span> is an interdisciplinary project that aims to explore the potential and limits of design and creative thinking in strategic urban planning practices. By attempting to design a new information system that facilitates and accommodate for creative thinking as part of spatial decision-making processes, SEMINAL will investigate what we know and don't know about creative urban planning.</p>

            <table>
                <tr>
                  <th>Project Summary</th>
                </tr>
                <tr>
                  <td>Funded by</td>
                  <td>Marie Skłodowska-Curie Actions-Postdoctoral Fellowship </td>
                </tr>
                <tr>
                  <td>Host</td>
                  <td>ITC Faculty - University of Twente - <span><a style="color: #1d1d1b"href="https://research.utwente.nl/en/persons/johannes-flacke">Dr. Johannes Flacke</a></span></td>
                </tr>
                <tr>
                  <td>Collaborators</td>
                  <td>Crowd Cognition Group - Ludwig Maximilian University of Munich - <span><a style="color: #1d1d1b"href="https://crowdcognition.net/">Dr. Bahador Bahrami</a></span></td>
                </tr>
                <tr>
                  <td>Project Duration</td>
                  <td>2 Years (Jan 2023-2025)</td>
                </tr>
              </table>

        </div>
        <div class="grid-item grid-item-even">
            <p id="paragraph">SEMINAL will focus on answernig what creativity, thinking differently and new idea means for spatial planning. The conception of creativity in this project differs from previously developed concepts such as creative cities, ‘creative spatial practices’ and ‘local creative ecosystem’. These concepts are used to describe how design of the physical spaces of the cities can generate and foster creativity among citizens, and how cities can capitalize on the so-called creative citizens for economic impacts. SEMINAL, however, focuses on creative thinking as part of strategic spatial decision-making processes and aims to better understand how creative thinking capacities of planners are developed and exploited in these processes. </p>
        </div>
        <div class="grid-item grid-item-even">
        </div>
        <div class="grid-item grid-item-even">
        </div>
    </div>
</body>
</html>